root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{cs,kt,kts}]
indent_style = space
indent_size = 4

[*.cs]
csharp_style_namespace_declarations = file_scoped:suggestion
dotnet_sort_system_directives_first = true
csharp_prefer_braces = true:suggestion

[*.{json,yml,yaml,ts,vue,mjs,csproj,slnx}]
indent_style = space
indent_size = 2

[*.md]
trim_trailing_whitespace = false
